<p>Are you sure you wish to archive this driver?</p>
<form class="" action="/drivers/<%=@driver.id%>/archive" method="get">
  <input type="submit" value="YES">
</form>
<form class="" action="/drivers/<%=@driver.id%>" method="get">
  <input type="submit" value="NO">
</form>
