
<h1>Drivers</h1>

<a href='/drivers/new'><button type"button" class="add_new">
  Add driver
</button></a>

<ul class="index_lists">
  <%for driver in @drivers%>
  <li><td><a href="/drivers/<%=driver.id%>"><%= driver.name %></a></td></li>
  <br/>
  <%end%>
</ul>
