<h1>Drivers</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <%for driver in @drivers%>
  <tr>
    <td><a href="/drivers/<%=driver.id%>"><%= driver.name %></a></td>
  </tr>
  <%end%>
</table>
<a href='/drivers/new'>Add driver</a></li>
