<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/styles/master.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/deliveries">Deliveries</a>
        </li>
        <li>
          <a href="/drivers">Drivers</a>
        </li>
        <li>
          <a href="/customers">Customers</a>
        </li>
      </ul>
    </nav>
    <%=yield%>
  </body>
</html>
