Are you sure you wish to delete this delivery?
<td><form class="" action="/deliveries/<%=delivery.id%>/delete" method="get">
  <input type="submit" value="YES">
</form></td>
<td><form class="" action="/deliveries" method="get">
  <input type="submit" value="NO">
</form></td>
