<p>You succesfully added a new delivery with these details:</p>
<table>
  <tr>
    <th>Content</th>
    <th></th>
    <th>Customer</th>
    <th></th>
    <th>Driver</th>
  </tr>
  <tr>
    <td><%=@delivery.contents%></td>
    <td>|</td>
    <td><%=@delivery.customer.company_name%></a></td>
    <td>|</td>
    <td><td><%=@delivery.driver.name%></a></td></td>
  </tr>
  </table>


<h4><a href="/deliveries">Go Back</a>
