Are you sure you wish to archive this customer?
<form class="" action="/customers/<%=@customer.id%>/archive" method="get">
  <input type="submit" value="YES">
</form>
<form class="" action="/customers/<%=@customer.id%>" method="get">
  <input type="submit" value="NO">
</form>
