<p>You succesfully added <%=@customer.company_name%> with these details:</p>
<ul>
  <li><%=@customer.contact_name%></li>
  <li><%=@customer.email%></li>
  <li><%=@customer.phone_number%></li>
</ul>


<h4><a href="/customers">Go Back</a>
