<h1>Customers</h1>

<a href='/customers/new'><button type"button" class="add_new">
  Add customer
</button></a>

<ul class="index_lists">
  <%for customer in @customers%>
  <li><td><a href="/customers/<%=customer.id%>"><%= customer.company_name %></a></td></li>
  <br/>
  <%end%>
</ul>
