<form class="" action="/customers" method="post">
  <label for="company-name">Company name:</label>
  <input id="company-name" type="text" name="company_name" />
  <br/>

  <label for="contact-name">Contact name:</label>
  <input id="contact-name" type="text" name="contact_name" />
  <br/>

  <label for="email">E-mail address:</label>
  <input id="email" type="email" name="email" />
  <br/>

  <label for="address">Full address:</label>
  <input id="address" type="text" name="address" />
  <br/>

  <label for="phone-number">Phone number: 0</label>
  <input id="phone-number" type="tel" min="0" name="phone_number" />
  <br/>

  <input type="submit" value="Add customer"/>

</form>
